<!DOCTYPE html>
<html lang="en">

<head>
	<title>Homelyfit</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="Xy30mKekcnRElTlzT4GXMUUKZu7jYX3UXipAegmj3-I">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#ffffff">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h3>LOGO</h3>
			</div>
			<div class="col-md-1 text-center" autofocus style="margin-top: 1cm;">
				<a href='/'>home</a>
			</div>
			<div class="col-md-1 text-center" style="margin-top: 1cm;">
				<a href='/search/'><button type="button" class="btn btn-link">Contractors</button></a>
			</div>
			<div class="col-md-1 text-center" style="margin-top: 1cm;">
				<button type="button" class="btn btn-link">Homeowners</button>
			</div>
			<div class="col-md-1 text-center" style="margin-top: 1cm;">
				<button type="button" class="btn btn-link">Login</button>
			</div>
		</div>
		
		<hr>

		<div class="row">
		  <div class="col-md-4">
		  	{% block content %}
			{% endblock %}
		  </div> 
			   	
		</div>
	</div>

	<hr>

	<footer>
		<div class="container" style='margin-left:15px'>
			<p>© 2017 Pentagon, LLC. 
				<a href='/linkedin/'>
					<img src="{% static "/pictures/linkedin_logo.png" %}" alt="Responsive image" class="img-circle" width="30" height="30" style='margin-right:15px'> 
				</a> 
				<a href='/facebook/'>
					<img src="{% static "/pictures/facebook_logo.png" %}" alt="Responsive image" class="img-circle" width="30" height="30" style='margin-right:15px'>
				</a> 
				<a href='/instagram/'>
					<img src="{% static "/pictures/instagram_logo.png" %}" alt="Responsive image" class="img-circle" width="30" height="30">
				</a> 
			</p>
			<p>
				<a href='/contact/'>Contact</a>
			</p>
		</div>
	</footer>	
	
</body>

</html>