{% extends "main/header.html" %}
{% load static %}

{% block content %}
	
	<div class="home-sec1">
		<h1 class="slideUp" id="slogan"><center>Discover Great Brands that <span class="typejs"></span></center></h1>
	</div>

	<div class="home-sec2">
		<h3>How We Select Companies</h3>
		<div class="container-standard">
			<div class="box start">
				<img src="{% static "/pictures/impact.png" %}" width="150" height="150"/>
				<h3>Impact</h3>
				<p>We believe that small things change the world - Buying from brands that are resolved to make the world a better place through their sustainable production designs, profit donations, and local programs, you can enhance the life of communities and save the environment through your daily purchase.</p>
			</div>
			<div class="box">
				<img src="{% static "/pictures/integrity.png" %}" width="150" height="150"/>
				<h3>Integrity</h3>
				<p>We believe that integrity nourishes trust - we choose brands that are honest, responsible and respectful for their customers, employees and suppliers. </p>
			</div>
			<div class="box">
				<img src="{% static "/pictures/ingenuity.png" %}" width="150" height="150"/>
				<h3>Ingenuity</h3>
				<p>We believe that innovation is everywhere -  from renowned industry leaders to burgeoning startups, we embrace brands from all over the world that create revolutionary solutions to enhance the wellness of your life.</p>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var typed = new Typed('.typejs', {
		  strings: ["build towards a better future.", "have great stories.", "enable and empower people."],
		  typeSpeed: 56,
		  startDelay: 3000,
		  backDelay: 900,
		});
	</script>


{% endblock %}