{% extends "main/header.html" %}
{% load static %}

{% block content %}
<div class="row">
	
	<div class="col-md-12" style="
			height:100vh;
			background-image: url('/static/pictures/home-background.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			
		">
		<h1 class="slideUp" style="padding-top: 260px;"><center>Discover Awesome Companies</center></h1>
	</div>

	<div class="col-md-12" style="
			margin-top: 700px; 
			min-height: 600px; 

	">
		<h3>How We Select Companies</h3>
		<div class="container-standard">
			<div class="box">
				<h3>Integrety</h3>
			</div>
			<div class="box middle">
				<h3>Ingenuity</h3>
			</div>
			<div class="box">
				<h3>Innovative</h3>
			</div>
		</div>
	</div>
</div>


	

{% endblock %}