{% extends "main/header.html" %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12" style="
			position: absolute;
		    top:0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    height: 100px;
		">
		<h1 class="slideUp" id="object"><center>Start your home rennovations from here.</center></h1>
	</div>
</div>

	<div class="col-md-12" style="margin-top: 700px; height: 1000px; background-color: #D7EBF2;">
		<h3><center>HOW IT WORKS</center></h3>
	</div>
	

{% endblock %}